* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: bisque;
}

nav, ul, li, a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    padding-right: 15px;

}

.testo-grande {
    font-size: 68px;
    padding: 0 53px 0 53px;
    margin-top: 78px;
    display: inline-block;
    
}

.banner-alto {
        position: fixed;
        background-color: white;
        padding: 15px;
        width: 100%;
        z-index: 69;

}

.logo {
    vertical-align: middle;
    display: inline-block;
    padding-right: 35px;
}

/* REGOLE IN COMUNE BANNER SX - DX */
.banner-sinistra, .banner-destra {
    display: inline-block;
    vertical-align: middle;

}

.banner-sinistra {
    width: calc(50% - 5px);

}

.banner-destra {
    width: 50%;
    text-align: right;
}

.link-banner-sinistra {

}

.link-banner-destra {

    display: inline-block;
}

.bottone-generico {
    display: inline-block;
    border-style: none;
    cursor: pointer;
}

.bottone-banner {
    background-color: #025fff;
    color: white;
    padding: 5px 18px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.colonna-sinistra-hero {
    float: left;
    width: 40%;

}

.colonna-destra-hero {
    float: left;
    width: 40%;
    
}

.immagine-hero {
    display: inline-block;
    width: 800px;
}

/* REGOLE IN COMUNE CONTAINER HEADER - FOOTER */
.container-footer, .container-header {
    max-width: 1300px;
    margin: auto;

}

.container-header {
    background-color: #b4d0e6;
    min-height: 500px;
}

.container-sezioni {
    max-width: 1080px;
}