* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: auto;
}

nav, ul, li, a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.banner-alto {
        position: fixed;
        height: 80px;
        background-color: white;

}

.logo {
    vertical-align: middle;
    display: inline-block;
}

/* REGOLE IN COMUNE BANNER SX - DX */
.banner-sinistra, .banner-destra {
    display: inline-block;
    vertical-align: middle

}

.banner-sinistra {



}

.banner-destra {

}

.link-banner-sinistra {

}

.link-banner-destra {

}

/* REGOLE IN COMUNE CONTAINER HEADER - FOOTER */
.container-footer, .container-header {
    max-width: 1300px;

}

.container-sezioni {
    max-width: 1080px;
}