* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

nav, ul, li, .link-banner {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    padding-right: 15px;
}

.testo-sinistra-hero i {
    font-size: 45px;
}

.sezione-1 h2 {
    margin-bottom: 35px;
}

.sezione-1 label {
    margin-right: 15px;

}
.testo-grande {
    font-size: 60px;
    padding: 0 53px 0 53px;
    margin-top: 78px;
    display: inline-block;
    
}

.banner-alto {
        position: fixed;
        background-color: white;
        padding: 15px;
        width: 100%;
        z-index: 69;

}

.logo {
    vertical-align: middle;
    display: inline-block;
    padding-right: 35px;
}

/* REGOLE IN COMUNE BANNER SX - DX */
.banner-sinistra, .banner-destra {
    display: inline-block;
    vertical-align: middle;

}

.banner-sinistra {
    width: calc(50% - 5px);

}

.banner-destra {
    width: 45%;
    text-align: right;
}

.link-banner-sinistra {

}

.link-banner-destra {

    display: inline-block;
}

.bottone-generico {
    display: inline-block;
    border-style: none;
    cursor: pointer;
}

.bottone-banner {
    background-color: #025fff;
    color: white;
    padding: 5px 18px;
}

.bottone-hero {
    background-color: #025fff;
    color: white;
    padding: 5px 18px;
    display: inline-block;
}


.bottone-colonne-sez-1 {
    background-color: #025fff;
    color: white;
    padding: 5px 18px;
    display: inline-block;
}
.centratura-bottoni-col {
    text-align: center;
}

.frasetta-hero {
    margin-top: 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.colonna-sinistra-hero {
   

}

.testo-sinistra-hero {
    float: left;
    width: 50%;
    padding: 20px 70px 20px 80px;
    min-height: 200px;

}


.colonna-destra-hero {
    float: left;
    width: 40%;
    
}

.immagine-hero {
    display: inline-block;
    width: 650px;
    margin-top: 20px;
}

/* REGOLE IN COMUNE CONTAINER HEADER - FOOTER */
.container-footer, .container-header {
    max-width: 1300px;
    margin: auto;

}

.container-header {
    background-color: #b4d0e6;
    min-height: 560px;
}

.container-sezioni, .sezione-1, .sezione-2 {
    max-width: 1080px;
    margin: auto;
}

.sezione-2 {
    margin-bottom: 50px;
}

/* -------------------- */

.tab-sinistra-sezione-1 {
    float: left;
    width: 30%;
    border: solid 1px;
}

.tab-sinistra-sezione-2 {
    float: left;
    width: 30%;
    border: solid 1px;
    min-height: 300px;
    margin: 0px 54px;
}

.tab-sinistra-sezione-3 {
    float: left;
    width: 30%;
    border: solid 1px;
}

.top-colonne-sez-1 {
    text-align: center;
    margin: 5px 0px;
}

.tab-sinistra-sezione-1,
.tab-sinistra-sezione-2,
.tab-sinistra-sezione-3 {
    min-height: 1100px;


}

.linea-colonne-sez-1 {
    width: 25%;
}

.padding-colonne {
    padding: 0px 15px;
}

.fa-check {
    color: #025fff;
}

.icona-bassa-sez-1 {
    text-align: center;
    border: solid 1px;
    padding: 7px 0px;
    margin-bottom: 30px;
}

.colonne-finali-sez-1 {
    border: solid 1px;
    margin-bottom: 30px;
}

.colonna-finale-sinistra-sez-1 {
    float: left;
    width: 65%;
}

.colonna-finale-destra-sez-1 {
    float: left;
    width: 35%;
}

.colonna-finale-sinistra-sez-1,
.colonna-finale-destra-sez-1 {
    min-height: 200px;
    padding-top: 20px;
    padding-left: 30px;
    padding: 20px 0px 20px 30px;
}

.colonna-sinistra-sezione-2 {
    float: left;
    width: 50%;
    background-image: url(../img/partner.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.colonna-destra-sezione-2 {
    float: left;
    width: calc(50% - 20px);
    margin-left: 20px;
    padding-left: 30px;
}

.bottone-sezione-2 {
    background-color: white;
    color: black;
    padding: 5px 18px;
    display: inline-block;
    border: 1px solid black;
}

.colonna-sinistra-sezione-3 {
    float: left;
    width: calc(100% / 3 - 60px);
    object-fit: cover;
    position: relative;
    min-width: 100px;
    margin-bottom: 50px;
}

.colonna-centrale-sezione-3 {
    float: left;
    width: calc(100% / 3 - 60px);
    object-fit: cover;
    position: relative;
    min-width: 100px;
    margin: 0px 90px 50px 90px;
}

.colonna-destra-sezione-3 {
    float: left;
    width: calc(100% / 3 - 60px);
    object-fit: cover;
    position: relative;
    min-width: 100px;
    margin-bottom: 50px;
}

.immagine-1-sezione-3 {
    width: 100%;
    
}
